body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100vw;
}

button {
  background-color: transparent;
  border: none;
  padding: 20px;
  box-shadow: 2px -3px 2px #0f0f11;
}

button:active {
  box-shadow: -2px 2px 2px 2px #343435 inset;
}

.Calc-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 3px;
  background-color: gray;
  width: 34vw;
  padding: 1px;
}

.display-result {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #858694;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  cursor: auto;
  box-shadow: 2px -3px 2px #0f0f11;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  cursor: pointer;
}

.Calc-container > div {
  text-align: center;
  padding: 15px 10px;
  font-size: 30px;
}

.pad {
  background-color: #e0e0e0;
  cursor: pointer;
}

.operator {
  background-color: #f5913e;
  cursor: pointer;
}
